/* RESET PRO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #1e8192;
    color: #160a0a;
    line-height: 1.6;
}

/* NAVBAR MINIMALISTE */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f58300;
    background: #65746f;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #eb9413;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    color: #e6fff1;
}

/* LAYOUT */
.container {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.page-header h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.page-header p {
    color: #666;
}

/* BOUTON NOIR PRO */
.btn-black {
    background: #1a1a1a;
    color: #fff;
    border: none;
    padding: 14px 28px;
    font-weight: 600;
    border-radius: 4px; /* Coins légèrement arrondis mais carrés */
    cursor: pointer;
    transition: opacity 0.3s;
}

.btn-black:hover {
    opacity: 0.8;
}

/* GRILLE DE RECTANGLES (CARDS) */
.forum-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.forum-card {
    background: #fff;
    border: 1px solid #eaeaea;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.forum-card:hover {
    border-color: #1a1a1a;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.tag {
    font-size: 0.7rem;
    font-weight: 700;
    color: #0066ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 15px;
}

.forum-card h3 {
    font-size: 1.25rem;
    margin-bottom: 12px;
}

.forum-card p {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 30px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #f4f4f4;
    font-size: 0.85rem;
    font-weight: 500;
    color: #999;
}

.btn-link {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 700;
}